<div class="about">
  <h2 class="h2">О компании</h2>
  <p class="text wow animate__fadeInUp">
    Компания Balero Trading предоставляет торговому посреднику право продажи товаров на определенной территории в течение согласованного срока. Между собой посредник и экспортер заключают договор о предоставлении права на продажу. Договор устанавливает общие условия, регулирующие их взаимоотношения. Для исполнения этого посредник и экспортер заключают самостоятельный договор купли-продажи в соответствии с условиями договора о предоставлении права на продажу. Таким образом, отношения между посредником и экспортером регулируются двумя видами договоров — договор о предоставлении права на продажу и договор купли-продажи.
  </p>
</div>