<div class="services">
  <h2 class="h2">Наши услуги</h2>
  <div class="services__items">
    <div class="services__item wow animate__fadeInRight">
      <figure class="services__imageblock">
        <figcaption class="services__textblock">
          <div class="services__title">Подберём подходящего производителя</div>
          <p class="services__text text">
            Простая или прямая консигнация. В этом случае все непроданные со склада к установленному сроку товары консигнатор имеет право вернуть консигнанту.
          </p>
        </figcaption>
        <img src="img/services01x2.png"
              srcset="img/services01.png 589w,
                      img/services01x2.png 2x"
              alt="photo of working notebook"
              class="services__img"
          />
      </figure>
    </div>
    <div class="services__item wow animate__fadeInLeft">
      <figure class="services__imageblock">
        <figcaption class="services__textblock">
          <div class="services__title">Проследим за процессом изготовления</div>
          <p class="services__text text">
            Простая или прямая консигнация. В этом случае все непроданные со склада к установленному сроку товары консигнатор имеет право вернуть консигнанту.
          </p>
        </figcaption>
        <img src="img/services02x2.png"
              srcset="img/services02.png 589w,
                      img/services02x2.png 2x"
              alt="photo of working notebook"
              class="services__img"
          />
      </figure>
    </div>
    <div class="services__item wow animate__fadeInRight">
      <figure class="services__imageblock">
        <figcaption class="services__textblock">
          <div class="services__title">Возьмём на себя логистику</div>
          <p class="services__text text">
            Простая или прямая консигнация. В этом случае все непроданные со склада к установленному сроку товары консигнатор имеет право вернуть консигнанту.
          </p>
        </figcaption>
        <img src="img/services03x2.png"
              srcset="img/services03.png 589w,
                      img/services03x2.png 2x"
              alt="photo of working notebook"
              class="services__img"
          />
      </figure>
    </div>
    <div class="services__item wow animate__fadeInLeft">
      <figure class="services__imageblock">
        <figcaption class="services__textblock">
          <div class="services__title">Предложим товар из имеющегося на складе</div>
          <p class="services__text text">
            Простая или прямая консигнация. В этом случае все непроданные со склада к установленному сроку товары консигнатор имеет право вернуть консигнанту.
          </p>
        </figcaption>
        <img src="img/services04x2.png"
              srcset="img/services04.png 589w,
                      img/services04x2.png 2x"
              alt="photo of working notebook"
              class="services__img"
          />
      </figure>
    </div>
  </div>
</div>