@font-face {
  font-family: "AeonikBold";
  src: url("fonts/AeonikTRIAL-Bold.otf"); }

@font-face {
  font-family: "AeonikRegular";
  src: url("fonts/AeonikTRIAL-Regular.otf"); }

body {
  font-family: "AeonikRegular", Arial, sans-serif;
  font-weight: 300;
  width: 100%;
  position: relative;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  body:after {
    content: "";
    position: fixed;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
    background-image: url(img/box.svg);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 50% 50%;
    pointer-events: none; }

a {
  text-decoration: none;
  outline: none; }

.h1 {
  font-family: "AeonikBold", Arial, sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 80px; }

.h2 {
  font-family: "AeonikBold", Arial, sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1;
  margin-bottom: 32px; }

.text--lighter {
  color: #C3C7D7; }

.text--darker {
  color: #4E608B; }

.header {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  position: absolute;
  display: flex;
  justify-content: space-between; }

.logo {
  line-height: 1; }
  .logo svg {
    width: 123px;
    height: 35px; }

.link {
  font-family: "AeonikBold", Arial, sans-serif;
  font-weight: 600;
  text-decoration: underline;
  text-decoration-skip: edges;
  font-size: 18px;
  color: #C3C7D7; }
  .link:hover {
    color: #003366; }
  .link:focus {
    outline: none;
    color: #003366; }

.lang {
  display: flex;
  align-items: center;
  margin-right: 56px;
  margin-bottom: 4px; }
  .lang__item {
    position: relative; }
    .lang__item:first-child {
      padding-right: 10px; }
      .lang__item:first-child:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 2px;
        height: 100%;
        background-color: #FFFFFF; }
    .lang__item__link {
      color: #C3C7D7; }
    .lang__item:last-child {
      padding-left: 8px; }
    .lang__item--active .lang__link {
      color: #FFFFFF;
      text-decoration: none; }

.hamburger {
  position: absolute;
  top: 18px;
  right: 12px;
  cursor: pointer;
  padding: 8px;
  text-decoration: none; }
  .hamburger:after, .hamburger:before, .hamburger__link {
    width: 36px;
    background-color: #FFFFFF;
    content: '';
    display: block;
    height: 2px;
    margin: 5px 0;
    transition: all .2s ease-in-out; }
  .hamburger--active:after {
    transform: translateY(-7px) rotate(-135deg); }
  .hamburger--active:before {
    transform: translateY(7px) rotate(135deg); }
  .hamburger--active .hamburger__link {
    transform: scale(0); }
  .hamburger:focus {
    outline: none;
    box-shadow: 0px 0px 0px 1px #FFFFFF; }

.sidebar {
  width: 50%;
  position: absolute;
  z-index: 99;
  top: 80px;
  right: 0;
  background-color: #4E608B;
  padding: 24px;
  box-sizing: border-box;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s; }
  .sidebar--active {
    visibility: visible;
    opacity: 1; }

.nav {
  margin-bottom: 40px; }
  .nav__item {
    padding-top: 8px;
    padding-bottom: 8px;
    transition: background-color .2s;
    cursor: pointer; }

.social {
  display: flex;
  flex-direction: column;
  width: 100%; }
  .social__item {
    padding-top: 8px;
    padding-bottom: 8px; }
  .social__link svg {
    width: 32px;
    height: 32px; }
    .social__link svg path {
      fill: #C3C7D7; }
  .social__link:hover svg path {
    fill: #003366; }

.hero {
  background-color: #4E608B;
  background-image: url(img/background-hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  color: #FFFFFF;
  padding: 120px 24px 80px 24px;
  text-align: center; }

.about {
  padding: 80px 24px 80px 24px;
  text-align: center;
  color: #FFFFFF;
  background: #4E608B;
  background: radial-gradient(130.2% 130.2% at 58.09% 120.06%, #C3C7D7 0%, #8892B0 31.23%, #4E608B 92.43%, #4E608B 97.16%); }
  .about__imageblock {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .about__textblock {
    margin-bottom: 32px; }
  .about__images {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 50vh; }
  .about__img {
    max-width: 560px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto; }

.features {
  padding: 80px 24px 80px 24px;
  background-color: #FFFFFF;
  color: #003366;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh; }
  .features__h2 {
    text-align: center; }
  .features__items {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 30vh; }
  .features__item {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column; }
  .features__num {
    font-size: 24px;
    line-height: 1;
    font-family: "AeonikBold", Arial, sans-serif;
    font-weight: 600;
    margin-bottom: 8px;
    background-color: #FFFFFF; }
  .features__title {
    font-size: 18px;
    line-height: 100%;
    font-family: "AeonikBold", Arial, sans-serif;
    font-weight: 600;
    margin-bottom: 4px;
    background-color: #FFFFFF; }
  .features__text {
    max-width: 480px;
    text-align: left;
    background-color: #FFFFFF; }

.services {
  padding: 80px 24px 80px 24px;
  text-align: center;
  color: #FFFFFF;
  background: #4E608B;
  background: radial-gradient(130.2% 130.2% at 58.09% 120.06%, #C3C7D7 0%, #8892B0 31.23%, #4E608B 92.43%, #4E608B 97.16%); }
  .services__items {
    display: flex;
    flex-direction: column; }
  .services__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px; }
    .services__item:last-child {
      margin-bottom: 80px; }
  .services__title {
    font-size: 18px;
    font-family: "AeonikBold", Arial, sans-serif;
    font-weight: 600;
    margin-bottom: 16px; }
  .services__text {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto; }
  .services__textblock {
    margin-bottom: 32px;
    padding: 0 24px 0 24px; }
  .services__imageblock {
    width: 100%;
    height: 100%;
    z-index: 9;
    position: relative; }
  .services__wrapimage {
    position: relative;
    max-width: calc(560px + 80px);
    margin: 0 auto; }
    .services__wrapimage:before {
      content: '';
      position: absolute;
      top: 40px;
      left: 0;
      right: 0;
      width: calc(100% - 80px);
      height: 100%;
      margin: auto;
      background-color: #C3C7D7;
      z-index: -1; }
  .services__img {
    max-width: 560px;
    height: 100%;
    width: 100%;
    object-fit: cover; }

.callback {
  padding: 80px 24px 80px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFFFFF;
  text-align: center; }
  .callback .h3 {
    margin-bottom: 80px; }
  .callback__link {
    color: #003366; }
    .callback__link:hover {
      color: #4E608B; }
    .callback__link:focus {
      outline: none;
      color: #4E608B; }

.contacts {
  padding: 80px 24px 24px 24px;
  background: #4E608B;
  background: radial-gradient(130.2% 130.2% at 58.09% 120.06%, #C3C7D7 0%, #8892B0 31.23%, #4E608B 92.43%, #4E608B 97.16%);
  color: #FFFFFF;
  text-align: center; }
  .contacts__block {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .contacts__items {
    text-align: left;
    margin-bottom: 80px; }
  .contacts__item {
    margin-bottom: 16px; }

@media (min-width: 768px) {
  body {
    font-size: 18px; }
    body:after {
      background-position: 90% 50%; }
  .link {
    font-size: 24px; }
  .sidebar {
    position: fixed;
    left: 0;
    right: auto;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    opacity: 1;
    visibility: visible;
    background-color: transparent;
    width: auto;
    padding-left: 40px;
    box-sizing: border-box; }
  .h1 {
    width: 60%;
    font-size: 48px;
    margin-left: auto;
    margin-right: auto; }
  .h2 {
    margin-bottom: 120px;
    font-size: 40px; }
  .header {
    padding: 13px 40px 13px 40px;
    align-items: center; }
  .logo {
    margin-left: 0;
    height: 54px; }
    .logo svg {
      width: 147px;
      height: 54px; }
  .lang {
    margin: 0; }
  .hamburger {
    display: none; }
  .nav__items {
    display: flex;
    visibility: visible;
    opacity: 1;
    background-color: transparent;
    width: auto;
    position: relative;
    top: 0; }
  .nav__item {
    text-align: left; }
  .nav__link {
    transition: all 0.2s; }
    .nav__link:after {
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: "";
      display: block;
      height: 1px;
      left: 50%;
      position: absolute;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0; }
  .hero {
    padding: 200px 40px 180px 40px;
    background-image: url(img/background-herox2.png); }
  .about {
    padding: 120px 40px 180px 40px; }
    .about__imageblock {
      width: 56vw;
      margin: 0 auto; }
    .about__images {
      min-height: 40vh; }
  .features {
    padding: 120px 40px 180px 40px; }
    .features .h2 {
      width: 56vw;
      margin-left: auto;
      margin-right: auto; }
    .features__items {
      width: 56vw;
      margin: 0 auto; }
    .features__item:not(:last-child) {
      margin-right: 75px;
      margin-bottom: 0; }
    .features__title {
      font-size: 24px;
      margin-bottom: 16px; }
    .features__text {
      max-width: none; }
    .features__img {
      margin-bottom: 32px; }
    .features__num {
      font-size: 36px; }
  .services {
    padding: 120px 40px 180px 40px; }
    .services .h2 {
      margin-bottom: 120px; }
    .services__items {
      width: 56vw;
      margin: 0 auto; }
    .services__title {
      font-size: 24px; }
    .services__textblock {
      padding: 0; }
    .services__imageblock {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
    .services__text {
      max-width: none; }
  .contacts__block {
    width: 56vw;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between; }
  .social {
    max-width: none;
    width: auto; }
    .social__item {
      text-align: left; } }

@media (min-width: 1028px) {
  body {
    font-size: 20px; }
    body:after {
      background-size: 30%;
      background-position: 90% 90%; }
  .h1 {
    font-size: 62px;
    max-width: 795px;
    margin-left: auto;
    margin-right: auto; }
  .h2 {
    margin-bottom: 64px; }
  .header {
    padding: 40px; }
  .hero {
    padding: 240px 40px 240px 40px;
    text-align: center; }
  .callback, .contacts, .features, .services {
    padding-left: 40px;
    padding-right: 40px; }
  .services__wrapimage, .services__img {
    max-width: none; }
  .services__wrapimage {
    width: 320px;
    height: auto;
    flex: none; }
    .services__wrapimage:before {
      width: 100%; }
  .services__item {
    flex-direction: row;
    padding-right: 0px;
    padding-left: 0px; }
    .services__item:nth-child(even) .services__textblock {
      order: 0;
      margin-right: 32px; }
    .services__item:nth-child(even) .services__wrapimage:before {
      bottom: -40px;
      right: -40px;
      left: auto;
      top: auto; }
    .services__item:nth-child(odd) .services__textblock {
      order: 1;
      margin-left: 32px; }
    .services__item:nth-child(odd) .services__wrapimage:before {
      top: -40px;
      left: -40px;
      right: auto; }
  .services__imageblock {
    flex-direction: row;
    align-items: center; }
  .services__textblock {
    margin-bottom: 0;
    text-align: left; }
  .services__text {
    max-width: none; }
  .callback {
    width: calc(56vw);
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
    .callback .h3 {
      margin-bottom: 0; } }

@media (min-width: 1280px) {
  .hero {
    padding: 174px 142px 174px 142px;
    text-align: center; }
  .callback, .contacts, .features, .services, .footer {
    padding-left: calc((100% - 1028px)/2);
    padding-right: calc((100% - 1028px)/2); } }
