@font-face {
  font-family: "GothamPro-Bold", Arial, Helvetica, sans-serif;
  src: url("fonts/GothamPro-Bold.otf");
  font-display: swap;
  font-weight: 600; }

@font-face {
  font-family: "GothamPro-Medium", Arial, Helvetica, sans-serif;
  src: url("fonts/GothamPro-Medium.otf");
  font-display: swap;
  font-weight: 300; }

.text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden; }
  .text-wrapper__line, .text-wrapper__letter {
    display: inline-block; }
  .text-wrapper__word {
    white-space: nowrap; }

.h1 .letter1, .h1 .letter2 {
  transform-origin: 50% 100%;
  display: inline-block;
  line-height: 1em; }

.h_one, .h_two {
  display: block; }

body {
  font-family: "GothamPro-Medium";
  width: 100%;
  position: relative;
  font-size: 14px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(130.2% 130.2% at 58.09% 120.06%, #C3C7D7 0%, #8892B0 31.23%, #4E608B 92.43%, #4E608B 97.16%); }
  body:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-image: url(img/background-hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center; }

a {
  text-decoration: none;
  outline: none; }

.h1 {
  font-family: "GothamPro-Bold";
  position: relative;
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 80px; }

.h2 {
  font-family: "GothamPro-Bold";
  position: relative;
  font-size: 24px;
  line-height: 1;
  margin-bottom: 32px; }

.text--lighter {
  color: #F0F1F5; }

.text--darker {
  color: #4E608B; }

.header {
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2; }

.logo svg {
  width: 80px;
  height: 30px; }

.link {
  font-family: "GothamPro-Bold";
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2px;
  font-size: 14px;
  color: #a0a7c1;
  border-bottom: 2px solid #a0a7c1;
  transition: all .2s ease-in-out; }
  .link:hover {
    transform: scale(1.1);
    color: #F0F1F5;
    border-bottom: 2px solid #F0F1F5; }
  .link:focus {
    outline: none;
    color: #F0F1F5; }

.lang {
  display: flex;
  align-items: center; }
  .lang__item {
    position: relative; }
    .lang__item:first-child {
      padding-right: 10px; }
      .lang__item:first-child:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 2px;
        height: 100%;
        background-color: #FFFFFF; }
    .lang__item:last-child {
      padding-left: 8px; }
    .lang__item--active .lang__link {
      color: #FFFFFF;
      text-decoration: none;
      border-bottom: 0px; }

.sidebar {
  position: fixed;
  z-index: 99;
  top: 0px;
  left: 0px;
  padding: 4px;
  box-sizing: border-box;
  text-align: center;
  transform-origin: top left;
  top: calc(100vh - 16px);
  transform: rotate(-90deg); }

.nav {
  display: flex; }
  .nav__item {
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer; }
    .nav__item:not(:last-child) {
      margin-right: 24px; }
  .nav__link {
    border-bottom: none; }
    .nav__link:hover {
      border-bottom: none; }

.social {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center; }
  .social__item {
    padding-top: 8px;
    padding-bottom: 8px; }
    .social__item:not(:last-child) {
      margin-right: 24px; }
  .social__link svg {
    width: 32px;
    height: 32px;
    transition: all .2s ease-in-out; }
    .social__link svg path {
      fill: #F0F1F5; }
  .social__link:hover svg {
    transform: scale(1.1); }
    .social__link:hover svg path {
      fill: #A5ACC4; }

.hero, .about, .features, .contacts {
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.hero {
  color: #FFFFFF;
  text-align: center;
  display: flex;
  z-index: 1; }

.about {
  text-align: center;
  color: #FFFFFF;
  z-index: 1; }
  .about__imageblock {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    box-sizing: border-box; }
  .about__textblock {
    margin-bottom: 32px; }
  .about__imagewrap {
    height: 100%;
    width: 100%;
    box-sizing: border-box; }
  .about__images {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 200px;
    box-sizing: border-box; }
  .about__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    filter: grayscale(1);
    box-sizing: border-box;
    display: block; }

.features {
  background-color: #FFFFFF;
  color: #003366; }
  .features__h2 {
    text-align: center; }
  .features__items {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 200px; }
  .features__item {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column; }
  .features__num {
    font-size: 24px;
    line-height: 1;
    font-family: "GothamPro-Bold";
    margin-bottom: 8px;
    background-color: #FFFFFF; }
  .features__title {
    font-size: 18px;
    line-height: 100%;
    font-family: "GothamPro-Bold";
    margin-bottom: 4px;
    background-color: #FFFFFF; }
  .features__text {
    max-width: 480px;
    text-align: left;
    background-color: #FFFFFF; }

.services {
  padding: 80px 40px 80px 40px;
  text-align: center;
  color: #FFFFFF;
  background: radial-gradient(130.2% 130.2% at 58.09% 120.06%, #C3C7D7 0%, #8892B0 31.23%, #4E608B 92.43%, #4E608B 97.16%); }
  .services__items {
    display: flex;
    flex-direction: column; }
  .services__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px; }
  .services__title {
    font-size: 18px;
    font-family: "GothamPro-Bold";
    margin-bottom: 16px; }
  .services__text {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto; }
  .services__textblock {
    margin-bottom: 32px;
    padding: 0 24px 0 24px; }
  .services__imageblock {
    width: 100%;
    height: 100%;
    z-index: 9;
    position: relative; }
  .services__wrapimage {
    position: relative;
    width: 100%;
    margin: 0 auto; }
  .services__layer {
    position: absolute;
    top: 24px;
    left: 0;
    right: 0;
    width: calc(100% - 48px);
    height: calc(100%);
    margin: auto;
    background-color: #A5ACC4;
    opacity: 0.3;
    z-index: -1; }
  .services__img {
    max-width: 560px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    mix-blend-mode: color-burn;
    filter: grayscale(1);
    display: block; }

.callback {
  padding: 80px 40px 80px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  text-align: center; }
  .callback .h3 {
    margin-bottom: 80px; }
  .callback__link {
    color: #4E608B;
    border-bottom: 2px solid #4E608B; }
    .callback__link:hover, .callback__link:focus {
      color: #003366;
      border-bottom: 2px solid #003366; }

.contacts {
  background: #4E608B;
  background: radial-gradient(130.2% 130.2% at 58.09% 120.06%, #C3C7D7 0%, #8892B0 31.23%, #4E608B 92.43%, #4E608B 97.16%);
  color: #FFFFFF;
  text-align: center; }
  .contacts .h2 {
    position: relative;
    z-index: 1; }
  .contacts__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1; }
  .contacts__items {
    text-align: left;
    margin-bottom: 80px; }
  .contacts__item {
    margin-bottom: 16px; }

.footer {
  padding: 16px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }
  .footer__link {
    color: #4E608B;
    border-bottom: 2px solid #4E608B; }
    .footer__link:hover, .footer__link:focus {
      color: #003366;
      border-bottom: 2px solid #003366; }

@media (min-width: 768px) {
  body {
    font-size: 16px; }
    body:after {
      background-position: 90% 50%; }
  .h1 {
    font-size: 44px;
    margin-left: auto;
    margin-right: auto; }
  .h2 {
    font-size: 32px;
    margin-bottom: 80px; }
  .header {
    padding: 40px 40px 40px 40px; }
  .logo svg {
    width: auto;
    height: auto; }
  .sidebar {
    padding-top: 26px;
    top: calc(100vh - 40px); }
  .about__imageblock {
    width: 56vw;
    margin: 0 auto; }
  .about__images {
    height: 228px;
    z-index: 2; }
  .features .h2 {
    width: 56vw;
    margin-left: auto;
    margin-right: auto; }
  .features__items {
    width: 56vw;
    margin: 0 auto; }
  .features__item:not(:last-child) {
    margin-right: 75px;
    margin-bottom: 0; }
  .features__title {
    margin-bottom: 16px; }
  .features__text {
    max-width: none; }
  .features__img {
    margin-bottom: 32px; }
  .services {
    padding-top: 120px;
    padding-bottom: 120px; }
    .services__items {
      width: 56vw;
      margin: 0 auto; }
    .services__textblock {
      padding: 0; }
    .services__imageblock {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
    .services__text {
      max-width: none; }
  .contacts__block {
    width: 56vw;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between; }
  .social {
    max-width: none;
    width: auto; }
    .social__item {
      text-align: left; }
      .social__item:not(:last-child) {
        margin-right: 48px; }
    .social__link svg {
      width: 48px;
      height: 48px; }
  .footer {
    padding: 40px; } }

@media (min-width: 1024px) {
  body:after {
    background-size: 30%;
    background-position: 90% 90%; }
  .h1 {
    font-size: 48px;
    margin-left: auto;
    margin-right: auto; }
  .h2 {
    margin-bottom: 80px;
    font-size: 36px; }
  .header {
    padding: 40px; }
  .about__textblock {
    order: 1;
    text-align: left;
    margin-left: 32px; }
  .about__imageblock {
    flex-direction: row; }
  .about__images {
    width: 320px;
    height: 400px;
    flex: none; }
  .services__wrapimage, .services__img {
    max-width: none; }
  .services__wrapimage {
    width: 320px;
    height: auto;
    flex: none; }
    .services__wrapimage:before {
      width: 100%; }
  .services__item {
    flex-direction: row;
    padding-right: 0px;
    padding-left: 0px; }
    .services__item:nth-child(even) .services__textblock {
      order: 0;
      margin-right: 32px; }
    .services__item:nth-child(even) .services__layer {
      top: -40px;
      right: -40px;
      left: auto;
      margin: 0;
      width: calc(100%); }
    .services__item:nth-child(odd) .services__textblock {
      order: 1;
      margin-left: 32px; }
    .services__item:nth-child(odd) .services__layer {
      top: 40px;
      left: -40px;
      right: auto;
      margin: 0;
      width: calc(100%); }
  .services__imageblock {
    flex-direction: row;
    align-items: center; }
  .services__textblock {
    margin-bottom: 0;
    text-align: left; }
  .services__text {
    max-width: none; }
  .callback {
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    justify-content: space-between;
    padding-left: calc((100vw - 56vw)/2);
    padding-right: calc((100vw - 56vw)/2); }
    .callback__link {
      margin-left: 32px; } }

@media (min-width: 1280px) {
  .h1 {
    font-size: 56px; }
  .h2 {
    font-size: 40px; } }
