@font-face {
  font-family: "AeonikBold";
  src: url("fonts/AeonikTRIAL-Bold.otf");
}
@font-face {
  font-family: "AeonikRegular";
  src: url("fonts/AeonikTRIAL-Regular.otf");
}

$font-bold: 'AeonikBold', Arial, sans-serif;
$font-regular: 'AeonikRegular', Arial, sans-serif;
$font-light: 'AeonikLight', Arial, sans-serif;

$color-dark: #003366;
$color-dark-lighter: #4E608B;

$color-gray: #8892B0;
$color-gray-lighter: #C3C7D7;

$color-light: #FFFFFF;

$background-dark: radial-gradient(130.2% 130.2% at 58.09% 120.06%, #C3C7D7 0%, #8892B0 31.23%, #4E608B 92.43%, #4E608B 97.16%);

$breakpoint-tablet: 768px;
$breakpoint-desktop-small: 1024px;
$breakpoint-desktop-bigger: 1280px;

@mixin regular {
  font-family: $font-regular;
  font-weight: 300;
}

@mixin bold {
  font-family: $font-bold;
  font-weight: 600;
}

@mixin links {
  @include bold;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;

  &__line, &__letter {
    display: inline-block;
  }

  &__word {
    white-space: nowrap;
  }
}

.h1 .letter1, .h1 .letter2 {
  transform-origin: 50% 100%;
  display: inline-block;
  line-height: 1em;
}

.h_one, .h_two {
  display: block;
}


body {
  @include regular;
  width: 100%;
  position: relative;
  font-size: 14px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $background-dark;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-image: url(img/background-hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
  }
}


.box {
  position: fixed;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  z-index: 1;

  & svg {
    width: 50vw;
    height: 50vh;
    padding-top: 50vh;
    padding-left: 25vw;
  }
}

a {
  text-decoration: none;
  outline: none;
}

.h1 {
  @include bold;
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 80px;
}

.h2 {
  @include bold;
  font-size: 24px;
  line-height: 1;
  margin-bottom: 32px;
}

.text {

  &--lighter {
    color: $color-gray-lighter;
  }

  &--darker {
    color: $color-dark-lighter;
  }
}

.header {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  position: absolute;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}

.logo {
  line-height: 1;

  svg {
    width: 123px;
    height: 35px;
  }
}

.link {
  @include links;
  font-size: 18px;
  color: $color-gray-lighter;
  border-bottom: 2px solid $color-gray-lighter;

  &:hover {
    color: $color-dark;
    border-bottom: 2px solid $color-dark;
  }

  &:focus {
    outline: none;
    color: $color-dark;
  }
}

.lang {
  display: flex;
  align-items: center;
  margin-right: 56px;
  margin-bottom: 4px;

  &__item {
    position: relative;
    
    &:first-child {
      padding-right: 10px;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 2px;
        height: 100%;
        background-color: $color-light;
      }
    }

    &__link {
      color: $color-gray-lighter;
    }

    &:last-child {
      padding-left: 8px;
    }

    &--active {
      & .lang__link {
        color: $color-light;
        text-decoration: none;
        border-bottom: 0px;
      }
    }
  }
}

.hamburger {
  position: absolute;
  top: 18px;
  right: 12px;
  cursor: pointer;
  padding: 8px;
  text-decoration: none;
  z-index: 9;

  &:after,
  &:before,
  &__link {
    width: 36px;
    background-color: $color-light;
    content: '';
    display: block;
    height: 2px;
    margin: 5px 0;
    transition: all .2s ease-in-out;
  }

  &:hover {
    &:after,
    &:before,
    .hamburger__link {
      background-color: $color-dark;
    }
  }

  &--active {

    &:after {
      transform: translateY(-7px) rotate(-135deg);
    }
    &:before {
      transform: translateY(7px) rotate(135deg);
    }
    .hamburger__link {
      transform: scale(0);
    }
  }

  &:focus {
    outline: none;
  }
}

.sidebar {
  width: 50%;
  position: absolute;
  z-index: 99;
  top: 80px;
  right: 0;
  background: $background-dark;
  padding: 24px;
  box-sizing: border-box;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s;
  mix-blend-mode: luminosity;

  &--active {
      visibility: visible;
      opacity: 1;
    }
}

.nav {
  margin-bottom: 40px;

  &__item {
    padding-top: 8px;
    padding-bottom: 8px;
    transition: background-color .2s;
    cursor: pointer;
  }
}


.social {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  &__item {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  &__link {

    & svg {
      width: 32px;
      height: 32px;

      & path {
        fill: $color-gray-lighter;

      }
    }
     &:hover {
      & svg {
        & path {
          fill: $color-dark;
        }
      }
     }
  }
}

.hero {
  position: relative;
  color: $color-light;
  padding: 0px 24px 0 24px;
  text-align: center;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}

.about {
  position: relative;
  padding: 0 24px 0 24px;
  text-align: center;
  color: $color-light;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;


  &__imageblock {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  &__textblock {
    margin-bottom: 32px;
  }

  &__images {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 200px;

    // &:before {
    //   content: '';
    //   position: absolute;
    //   width: 100%;
    //   height: 2px;
    //   left: 0;
    //   bottom -8px;
    //   background-color: $color-light;
    // }
  }

  &__img {
    // max-width: 560px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    filter: grayscale(1);
    mix-blend-mode: overlay;
    box-sizing: border-box;
  }
}

.features {
  padding: 0 24px 0 24px;
  background-color: $color-light;
  color: $color-dark;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__h2 {
    text-align: center;
  }

  &__items {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 200px;
  }

  &__item {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
  }

  &__num {
    font-size: 24px;
    line-height: 1;
    @include bold;
    margin-bottom: 8px;
    background-color: $color-light;
  }

  &__title {
    font-size: 18px;
    line-height: 100%;
    @include bold;
    margin-bottom: 4px;
    background-color: $color-light;
  }

  &__text {
    max-width: 480px;
    text-align: left;
    background-color: $color-light;
  }
}

.services {
  padding: 80px 24px 80px 24px;
  text-align: center;
  color: $color-light;
  background: $color-dark-lighter;
  background: $background-dark;
  box-sizing: border-box;

  &__items {
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
  }

  &__title {
    font-size: 18px;
    @include bold;
    margin-bottom: 16px;
  }

  &__text {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }

  &__textblock {
    margin-bottom: 32px;
    padding: 0 24px 0 24px;
  }

  &__imageblock {
    width: 100%;
    height: 100%;
    z-index: 9;
    position: relative;
  }

  &__wrapimage {
    position: relative;
    width: 100%;
    margin: 0 auto;

    &:before {
      content: '';
      position: absolute;
      top: 24px;
      left: 0;
      right: 0;
      width: calc(100% - 48px);
      height: 100%;
      margin: auto;
      background-color: $color-gray-lighter;
      opacity: 0.3;
      z-index: -1;
    }
  }

  &__img {
    max-width: 560px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: grayscale(1);
    mix-blend-mode: color-burn;
  }
}

.callback {
  padding: 80px 24px 80px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $color-light;
  background-color: $color-light;
  text-align: center;

  .h3 {
    margin-bottom: 80px;
  }

  &__link {
    color: $color-dark-lighter;
    border-bottom: 2px solid $color-dark-lighter;

    &:hover {
      color: $color-dark;
    }

    &:focus {
      outline: none;
      color: $color-dark;
    }
  }
}

.contacts {
  position: relative;
  padding: 0 24px 0 24px;
  background: $color-dark-lighter;
  background: $background-dark;
  color: $color-light;
  text-align: center;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;

  & .h2 {
    position: relative;
    z-index: 1;
  }

  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
  }

  &__items {
    text-align: left;
    margin-bottom: 80px;
  }

  &__item {
    margin-bottom: 16px;
  }
}

.footer {
  position: absolute;
  bottom: 24px;
  left: 0;
  right: 0;
}

/////////////////////////////////////////////////////////////////////////////////////////////////////////

@media (min-width: $breakpoint-tablet) {

  body {
    font-size: 16px;

    &:after {
      background-position: 90% 50%;
    }
  }

  .link {
    font-size: 20px;
  }

  .h1 {
    // width: 60%;
    font-size: 44px;
    margin-left: auto;
    margin-right: auto;
  }

  .h2 {
    font-size: 32px;
    margin-bottom: 80px;
  }

  .header {
    padding: 13px 40px 13px 40px;
    align-items: center;
  }

  .logo {
    margin-left: 0;
    height: 54px;

    svg {
      width: 147px;
      height: 54px;
    }
  }

  .hero {
    padding: 0 40px 0 40px;
  }

  .about {
    padding: 0 40px 0 40px;

    &__imageblock {
      width: 56vw;
      margin: 0 auto;
    }

    &__images {
      height: 228px;
      z-index: 2;
    }
  }

  .features {
    padding: 0 40px 0 40px;

    .h2 {
      width: 56vw;
      margin-left: auto;
      margin-right: auto;
    }

    &__items {
     width: 56vw;
     margin: 0 auto;
    }

    &__item {

      &:not(:last-child) {
        margin-right: 75px;
        margin-bottom: 0;
      }
    }

    &__title {
      font-size: 20px;
      margin-bottom: 16px;
    }

    &__text {
      max-width: none;
    }

    &__img {
      margin-bottom: 32px;
    }

    &__num {
      font-size: 32px;
    }
  }

  .services {
    padding: 120px 40px 100px 40px;

    &__items {
      width: 56vw;
      margin: 0 auto;
    }

    &__title {
      font-size: 20px;
    }

    &__textblock {
      padding: 0;
    }

    &__imageblock {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &__text {
      max-width: none;
    }
  }

  .contacts {

    &__block {
      width: 56vw;
      margin-left: auto;
      margin-right: auto;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
    }
  }

  .social {
    max-width: none;
    width: auto;

    &__item {
      text-align: left;
    }
  }
}

///////////////////////////////////////////////////////////////////////////////////////////////

@media (min-width: $breakpoint-desktop-small) {

  body {

    &:after {
      background-size: 30%;
      background-position: 90% 90%;
    }
  }

  .sidebar {
    position: fixed;
    left: 0;
    right: auto;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    opacity: 1;
    visibility: visible;
    background: transparent;
    width: auto;
    padding-left: 40px;
    box-sizing: border-box;
  }

  .lang {
    margin: 0;
  }

  .hamburger {
    display: none;
  }

  .nav {

    &__items {
      display: flex;
      visibility: visible;
      opacity: 1;
      background-color: transparent;
      width: auto;
      position: relative;
      top: 0;
    }

    &__item {
      text-align: left;
    }

    &__link {
      transition: all 0.2s;

      &:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 1px;
        left: 50%;
        position: absolute;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }
    }
  }

  .social {
    align-items: flex-start;
  }

  .h1 {
    font-size: 48px;
    // max-width: 795px;
    margin-left: auto;
    margin-right: auto;
  }

  .h2 {
    margin-bottom: 80px;
    font-size: 36px;
  }

  .header {
    padding: 40px;
  }

  .hero {
    padding: 0 40px 0 40px;
    text-align: center;
  }

  .callback, .contacts, .features, .services {
    padding-left: 40px;
    padding-right: 40px;
  }

  .about {

    &__textblock {
      order: 1;
      text-align: left;
    }

    &__imageblock {
      flex-direction: row;
    }

    &__images {
      width: 320px;
      height: 400px;
      flex: none;
      margin-right: 32px;
    }
  }

  .services {

    &__wrapimage, &__img {
      max-width: none;
    }

    &__wrapimage {
      width: 320px;
      height: auto;
      flex: none;

      &:before {
        width: 100%;
      }
    }

    &__item {
      flex-direction: row;
      padding-right: 0px;
      padding-left: 0px;

      &:nth-child(even) {

        .services__textblock {
          order: 0;
          margin-right: 32px;
        }

        .services__wrapimage {
          &:before {
            top: -40px;
            right: -40px;
            left: auto;
          }
        }
      }

      &:nth-child(odd) {
        .services__textblock {
          order: 1;
          margin-left: 32px;
        }
        .services__wrapimage {
          &:before {
            bottom: -40px;
            left: -40px;
            right: auto;
          }
        }
      }
    }

    &__imageblock {
      flex-direction: row;
      align-items: center;
    }

    &__textblock {
      margin-bottom: 0;
      text-align: left;
    }

    &__text {
      max-width: none;
    }
  }

  .callback {
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: calc((100vw - 56vw)/2);
    padding-right: calc((100vw - 56vw)/2);

    &__link {
      margin-left: 32px;
    }
  }
}

///////////////////////////////////////////////////////////////////////////////////////////////

@media (min-width: $breakpoint-desktop-bigger) {

  body {
    font-size: 20px;
  }

  .h1 {
    font-size: 56px;
  }

  .h2 {
    font-size: 40px;
  }

  .link {
    font-size: 24px;
  }

  .social {
    &__link {
      & svg {
        width: 40px;
        height: 40px;
      }
    }
  }

  .features {
    &__title {
      font-size: 24px;
    }
  }

  .services {
    &__title {
      font-size: 24px;
    }
  }

}