@font-face {
  font-family: "GothamPro-Bold", Arial, Helvetica, sans-serif;
  src: url("fonts/GothamPro-Bold.otf");
  font-display: swap;
  font-weight: 600;
}
@font-face {
  font-family: "GothamPro-Medium", Arial, Helvetica, sans-serif;
  src: url("fonts/GothamPro-Medium.otf");
  font-display: swap;
  font-weight: 300;
}

$color-dark: #003366;
$color-dark-lighter: #4E608B;

$color-gray: #8892B0;
$color-gray-lighter: #A5ACC4;

$color-light: #FFFFFF;
$color-light-darker: #F0F1F5;

$color-link: #a0a7c1;

$background-dark: radial-gradient(130.2% 130.2% at 58.09% 120.06%, #C3C7D7 0%, #8892B0 31.23%, #4E608B 92.43%, #4E608B 97.16%);

$breakpoint-tablet: 768px;
$breakpoint-desktop-small: 1024px;
$breakpoint-desktop-bigger: 1280px;


@mixin links {
  font-family: "GothamPro-Bold";
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2px;
}

.text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;

  &__line, &__letter {
    display: inline-block;
  }

  &__word {
    white-space: nowrap;
  }
}

.h1 .letter1, .h1 .letter2 {
  transform-origin: 50% 100%;
  display: inline-block;
  line-height: 1em;
}

.h_one, .h_two {
  display: block;
}


body {
  font-family: "GothamPro-Medium";
  width: 100%;
  position: relative;
  font-size: 14px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $background-dark;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-image: url(img/background-hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
  }
}

a {
  text-decoration: none;
  outline: none;
}

.h1 {
  font-family: "GothamPro-Bold";
  position: relative;
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 80px;
}

.h2 {
  font-family: "GothamPro-Bold";
  position: relative;
  font-size: 24px;
  line-height: 1;
  margin-bottom: 32px;
}

.text {

  &--lighter {
    color: $color-light-darker;
  }

  &--darker {
    color: $color-dark-lighter;
  }
}

.header {
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.logo svg {
  width: 80px;
  height: 30px;
}

.link {
  @include links;
  font-size: 14px;
  color: $color-link;
  border-bottom: 2px solid $color-link;
  transition: all .2s ease-in-out;

  &:hover {
    transform: scale(1.1);
    color: $color-light-darker;
    border-bottom: 2px solid $color-light-darker;
  }

  &:focus {
    outline: none;
    color: $color-light-darker;
  }
}

.lang {
  display: flex;
  align-items: center;

  &__item {
    position: relative;
    
    &:first-child {
      padding-right: 10px;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 2px;
        height: 100%;
        background-color: $color-light;
      }
    }

    &:last-child {
      padding-left: 8px;
    }

    &--active {
      & .lang__link {
        color: $color-light;
        text-decoration: none;
        border-bottom: 0px;
      }
    }
  }
}

.sidebar {
  position: fixed;
  z-index: 99;
  top: 0px;
  left: 0px;
  padding: 4px;
  box-sizing: border-box;
  text-align: center;
  transform-origin: top left;
  top: calc(100vh - 16px);
  transform: rotate(-90deg);
}

.nav {
  display: flex;

  &__item {
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 24px;
    }
  }

  &__link {
    border-bottom: none;

    &:hover {
      border-bottom: none;
    }
  }
}

.social {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;

  &__item {
    padding-top: 8px;
    padding-bottom: 8px;

    &:not(:last-child) {
      margin-right: 24px;
    }
  }

  &__link {

    & svg {
      width: 32px;
      height: 32px;
      transition: all .2s ease-in-out;

      & path {
        fill: $color-light-darker;

      }
    }
     &:hover {
      & svg {
        transform: scale(1.1);
        & path {
          fill: $color-gray-lighter;
        }
      }
     }
  }
}

.hero, .about, .features, .contacts {
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero {
  color: $color-light;
  text-align: center;
  display: flex;
  z-index: 1;
}

.about {
  text-align: center;
  color: $color-light;
  z-index: 1;


  &__imageblock {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    box-sizing: border-box;
  }

  &__textblock {
    margin-bottom: 32px;
  }

  &__imagewrap {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
  }

  &__images {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 200px;
    box-sizing: border-box;
  }

  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    filter: grayscale(1);
    box-sizing: border-box;
    display: block;
  }
}

.features {
  background-color: $color-light;
  color: $color-dark;

  &__h2 {
    text-align: center;
  }

  &__items {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 200px;
  }

  &__item {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
  }

  &__num {
    font-size: 24px;
    line-height: 1;
    font-family: "GothamPro-Bold";
    margin-bottom: 8px;
    background-color: $color-light;
  }

  &__title {
    font-size: 18px;
    line-height: 100%;
    font-family: "GothamPro-Bold";
    margin-bottom: 4px;
    background-color: $color-light;
  }

  &__text {
    max-width: 480px;
    text-align: left;
    background-color: $color-light;
  }
}

.services {
  padding: 80px 40px 80px 40px;
  text-align: center;
  color: $color-light;
  background: $background-dark;

  &__items {
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
  }

  &__title {
    font-size: 18px;
    font-family: "GothamPro-Bold";
    margin-bottom: 16px;
  }

  &__text {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }

  &__textblock {
    margin-bottom: 32px;
    padding: 0 24px 0 24px;
  }

  &__imageblock {
    width: 100%;
    height: 100%;
    z-index: 9;
    position: relative;
  }

  &__wrapimage {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }

  &__layer {
    position: absolute;
    top: 24px;
    left: 0;
    right: 0;
    width: calc(100% - 48px);
    height: calc(100%);
    margin: auto;
    background-color: $color-gray-lighter;
    opacity: 0.3;
    z-index: -1;
  }

  &__img {
    max-width: 560px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    mix-blend-mode: color-burn;
    filter: grayscale(1);
    display: block;
  }
}

.callback {
  padding: 80px 40px 80px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-light;
  text-align: center;

  .h3 {
    margin-bottom: 80px;
  }

  &__link {
    color: $color-dark-lighter;
    border-bottom: 2px solid $color-dark-lighter;

    &:hover, &:focus {
      color: $color-dark;
      border-bottom: 2px solid $color-dark;
    }
  }
}

.contacts {
  background: $color-dark-lighter;
  background: $background-dark;
  color: $color-light;
  text-align: center;

  & .h2 {
    position: relative;
    z-index: 1;
  }

  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
  }

  &__items {
    text-align: left;
    margin-bottom: 80px;
  }

  &__item {
    margin-bottom: 16px;
  }
}


.footer {
  padding: 16px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  &__link {
    color: $color-dark-lighter;
    border-bottom: 2px solid $color-dark-lighter;

    &:hover, &:focus {
      color: $color-dark;
      border-bottom: 2px solid $color-dark;
    }
  }
}

/////////////////////////////////////////////////////////////////////////////////////////////////////////

@media (min-width: $breakpoint-tablet) {

  body {
    font-size: 16px;

    &:after {
      background-position: 90% 50%;
    }
  }

  .h1 {
    font-size: 44px;
    margin-left: auto;
    margin-right: auto;
  }

  .h2 {
    font-size: 32px;
    margin-bottom: 80px;
  }

  .header {
    padding: 40px 40px 40px 40px;
  }

  .logo svg {
    width: auto;
    height: auto;
  }

  .sidebar {
    padding-top: 26px;
    top: calc(100vh - 40px);
  }

  .about {

    &__imageblock {
      width: 56vw;
      margin: 0 auto;
    }

    &__images {
      height: 228px;
      z-index: 2;
    }
  }

  .features {

    .h2 {
      width: 56vw;
      margin-left: auto;
      margin-right: auto;
    }

    &__items {
     width: 56vw;
     margin: 0 auto;
    }

    &__item {

      &:not(:last-child) {
        margin-right: 75px;
        margin-bottom: 0;
      }
    }

    &__title {
      margin-bottom: 16px;
    }

    &__text {
      max-width: none;
    }

    &__img {
      margin-bottom: 32px;
    }
  }

  .services {
    padding-top: 120px;
    padding-bottom: 120px;

    &__items {
      width: 56vw;
      margin: 0 auto;
    }

    &__textblock {
      padding: 0;
    }

    &__imageblock {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &__text {
      max-width: none;
    }
  }

  .contacts {

    &__block {
      width: 56vw;
      margin-left: auto;
      margin-right: auto;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
    }
  }

  .social {
    max-width: none;
    width: auto;

    &__item {
      text-align: left;

      &:not(:last-child) {
        margin-right: 48px;
      }
    }

    &__link svg {
      width: 48px;
      height: 48px;
    }
  }

  .footer {
    padding: 40px;
  }
}

///////////////////////////////////////////////////////////////////////////////////////////////

@media (min-width: $breakpoint-desktop-small) {

  body {

    &:after {
      background-size: 30%;
      background-position: 90% 90%;
    }
  }

  .h1 {
    font-size: 48px;
    margin-left: auto;
    margin-right: auto;
  }

  .h2 {
    margin-bottom: 80px;
    font-size: 36px;
  }

  .header {
    padding: 40px;
  }

  .about {

    &__textblock {
      order: 1;
      text-align: left;
      margin-left: 32px;
    }

    &__imageblock {
      flex-direction: row;
    }

    &__images {
      width: 320px;
      height: 400px;
      flex: none;
    }
  }

  .services {

    &__wrapimage, &__img {
      max-width: none;
    }

    &__wrapimage {
      width: 320px;
      height: auto;
      flex: none;

      &:before {
        width: 100%;
      }
    }

    &__item {
      flex-direction: row;
      padding-right: 0px;
      padding-left: 0px;

      &:nth-child(even) {

        .services__textblock {
          order: 0;
          margin-right: 32px;
        }

       .services__layer {
          top: -40px;
          right: -40px;
          left: auto;
          margin: 0;
          width: calc(100%);
        }
      }

      &:nth-child(odd) {
        .services__textblock {
          order: 1;
          margin-left: 32px;
        }
        .services__layer {
          top: 40px;
          left: -40px;
          right: auto;
          margin: 0;
          width: calc(100%);
        }
      }
    }

    &__imageblock {
      flex-direction: row;
      align-items: center;
    }

    &__textblock {
      margin-bottom: 0;
      text-align: left;
    }

    &__text {
      max-width: none;
    }
  }

  .callback {
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    justify-content: space-between;
    padding-left: calc((100vw - 56vw)/2);
    padding-right: calc((100vw - 56vw)/2);

    &__link {
      margin-left: 32px;
    }
  }
}

///////////////////////////////////////////////////////////////////////////////////////////////

@media (min-width: $breakpoint-desktop-bigger) {

  .h1 {
    font-size: 56px;
  }

  .h2 {
    font-size: 40px;
  }
}